@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  font-family: 'Play', sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./img/bg.jpg') center center / cover no-repeat;
  overflow: hidden;
}
button {
  font-family: inherit;
}
h4 {
  max-width: 200px;
  margin: 15px auto;
  padding: 5px 15px;
  border: 1px solid #008793;
  border-radius: 25px;
}
li,
div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* APP */
.app {
  width: 100%;
  max-width: 500px;
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 3px;
}
.app h1 {
  position: relative;
  font-size: 1.1rem;
  margin-bottom: 35px;
  padding: 8px;
  border-radius: 25px;
  text-shadow: 1px 1px 5px black;
  background-image: linear-gradient(
    to right top, 
    #051937, 
    #004d7a, 
    #008793, 
    #00bf72, 
    #a8eb12
  );
}
.app h1 span {
  color: white;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
.app #rangenum-output {
  width: 40px;
  height: 40px;
  margin: 25px auto;
  background-image: linear-gradient(
    to right top, 
    #051937, 
    #004d7a, 
    #008793, 
    #00bf72, 
    #a8eb12
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Qahiri', sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px 0 black;
}
.app input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 95%;
  height: 10px;
  background-image: linear-gradient(
    to right top, 
    #051937, 
    #004d7a, 
    #008793, 
    #00bf72, 
    #a8eb12
  );
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 35px;
  border-radius: 5px;
}
.app input[type="range"]:hover {
  opacity: 1;
}
.app input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.app .checkboxs {
  margin-bottom: 25px;
}
.app input[type="checkbox"] {
  display: none;
}
.app input[type="checkbox"]:checked + label {
  transform: scale(1.1);
  filter: brightness(150%);
  background-image: linear-gradient(
    to right top, 
    #051937, 
    #004d7a, 
    #008793, 
    #00bf72, 
    #a8eb12
  );
  color: white;
  text-shadow: 1px 1px 2px black;
}
.app label[for="lowercase"],
.app label[for="uppercase"],
.app label[for="numerics"],
.app label[for="symbols"] {
  display: inline-block;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 700;
  margin: 5px 5px;
  cursor: pointer;
  line-height: 2.1;
  background-color: #ddd;
  border: 2px solid #008793;
}
.app #generateBtn {
  padding: 10px 35px;
  font-size: 1.2rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right top, 
    #051937, 
    #004d7a, 
    #008793, 
    #00bf72, 
    #a8eb12
  );
  border: none;
  color: whitesmoke;
  border-radius: 25px;
  cursor: pointer;
}
